APP_NAME="CYA"

APP_DEVELOPER="Evolución Web MX"
APP_DEVELOPER_URL="https://evolucionweb.mx"
APP_VERSION_DEL_SISTEMA="2.0"

APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://arconesycanastas.pe

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=arconesy_v2
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=60

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=test@127.0.0.1
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=sys@arconesycanastas.mx
MAIL_FROM_NAME="Canastas Y Arcones"

# MAIL_DRIVER=smtp
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USERNAME=testing.sistema1@gmail.com
# MAIL_PASSWORD=khwspysxffisbqeq
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS=sys@arconesycanastas.mx
# MAIL_FROM_NAME="Canastas Y Arcones"

AWS_ACCESS_KEY_ID=AKIAUAEHYCJPFKYGAX6F
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-west-2
AWS_BUCKET=archivos.pruebas.arconesycanastas
AWS_URL=https://archivos.pruebas.arconesycanastas.s3.us-west-2.amazonaws.com.
PREFIX=https://s3-us-west-2.amazonaws.com/archivos.pruebas.arconesycanastas/

#AWS_BUCKET=archivos.arconesycanastas
#AWS_URL=https://archivos.arconesycanastas.s3.us-west-2.amazonaws.com.
#PREFIX=https://s3-us-west-2.amazonaws.com/archivos.arconesycanastas/

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RECAPTCHA_SITE_KEY=6LcjPOwUAAAAABK5Q-rHh7lO9jkbkyz55f-4yyq3
RECAPTCHA_SECRET_KEY=6LcjPOwUAAAAAISDdfptAIC6QraxYxRfszfxpcBh

# ===================== [ Variables del sistema ] =====================
ROL_DESARROLLADOR="desarrollador"
ROL_SIN_ACCESO_AL_SISTEMA="sinAccesoAlSistema"
ROL_CLIENTE="cliente"
ROL_FERRO="transportesFerro"

# 12HRS
TIEMPO_MAX_DE_CACHE_MINUTOS=720
# 6HRS
TIEMPO_MED_DE_CACHE_MINUTOS=360
# 3HRS
TIEMPO_MIN_DE_CACHE_MINUTOS=180

LONGITUD_DEL_PASSWORD=8

#COSTOS DE ENVIO
COSTO_CHICO=20.00
COSTO_MEDIANO=30.00
COSTO_GRANDE=40.00

#COSTOS DE ENVIO ESPECIAL
COSTO_CHICO_ESP=10.00
COSTO_MEDIANO_ESP=15.00
COSTO_GRANDE_ESP=20.00