<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>C&a CATALOGO 2020</title>
</head>

<body>
<center><img src="arcones.png"
     width="450"
     height="200"></center>
<center><h1><p style="color:#FDFDFD";>www.canastasyarcones.mx</p></h1></center>
<center><img src="2020.png"
     width="1000	123"
     height="130"></center>

<center><img src="forbes.png"
     width="1000"
     height="500"></center>


<!-- Menú de navegación del sitio -->
<ul class="navbar">
<!-- Contenido principal -->

<center><img src="direccion.png"
     width="1000"
     height="80"></center>

<center><img src="arcones.png"
     width="250"
     height="200"></center>
<center>
<TABLE STYLE="BORDER: SOLID 10PX ORANGE"> 
 <TR><TD><center><img src="arcon1.png"                        
     width="250"
     height="300">
      </TD></TR> 
 </TABLE></center>
<center>
<font color="#FFFFFF" size="4" face="Forte">
<TABLE STYLE="BORDER: SOLID 10PX ORANGE"> 
 <TR><TD>ARC196 $289.00 +IVA</TD></TR> 
 </TABLE></center>   
<center>
<p style="color:#FDFDFD";>
<font color="#FFFFFF" size="6" face="Forte">
Arcon Navideño</font>
<ol style="color: white;" >
<ol>Vino Tinto Español Cabernet Sauvignon Leyenda</ol>
<ol>Galleta Macma 100 g</ol>
<ol>Cereza en Almíbar Lol-Tun 132 g</ol>
<ol>Chocolate Piramide Picard 70 g</ol>
<ol>Aceituna con Hueso San Lucas 130 g</ol>
<ol>Papas pringles originales 37 g</ol>
<ol>Armado, Tarjeta Navideña, Moño, Viruta, Emplayado</ol>

</center>

<center>
<TABLE STYLE="BORDER: SOLID 10PX ORANGE"> 
 <TR><TD><center><img src="arcon2.png"                        
     width="250"
     height="300">
      </TD></TR> 
 </TABLE></center> 
<center>
<font color="#FFFFFF" size="4" face="Forte">
<TABLE STYLE="BORDER: SOLID 10PX ORANGE"> 
 <TR><TD>ARC8 $279.00+ IVA</TD></TR> 
 </TABLE></center>   
<center>
<p style="color:#FDFDFD";>
<font color="#FFFFFF" size="6" face="Forte">
Arcon Navideño Economico</font>
<ol style="color: white;" >
<ol>Mejillones en escabeche 112 g</ol>  
<ol>Cereza en Almíbar Lol-Tun 132 g</ol> 
<ol>Galleta Fina Variedad Gabi 200 g</ol> 
<ol>Aceituna con Hueso San Lucas 130 g</ol> 
<ol>Ate La Flor de Morelia 250 g</ol> 
<ol>Chocolate Hershey’s Kisses 49.4 g</ol> 
<ol>Papas pringles originales 37 g</ol> 
<ol>Plato Carrizo, Armado, Tarjeta, 
Navideña, Moño, Viruta, Emplayado</li>

</center>
<center><img src="direccion.png"
     width="1000"
     height="80"></center>                     




<style type="text/css">
  body {
    color: purple;
    background-color: #d8da3d }
  </style>

<body background="2.jpg">
</body>
</html>